<%- include ('header.ejs') %>
    <div class="about-content">
        <h2>About Expressjs</h2>
        <p>
            Express is a user-friendly framework that simplifies the development process of Node applications. It uses JavaScript as a programming language and provides an efficient way to build web applications and APIs. With Express, you can easily handle routes, requests, and responses, which makes the process of creating robust and scalable applications much easier. Moreover, it is a lightweight and flexible framework that is easy to learn and comes loaded with middleware options. Whether you are a beginner or an experienced developer, Express is a great choice for building your application.
        </p>
    </div>
<%- include ('footer.ejs') %>