<%- include ('header.ejs') %>
    <form action="" class="contact-form" method="post">
        <h2>Contact Us</h2>

        <div class="input-container">
            <label for="username">Your Name</label>
            <input type="text" name="username" placeholder="Enter your username">
        </div>

        <div class="input-container">
            <label for="email">Your Email</label>
            <input type="email" name="email" placeholder="Enter your email">
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
<%- include ('footer.ejs') %>    